@import '../../../styles.scss';
$colorText: #313131;
$itemWidth: 100%;

.main-block {
	margin-top: 90px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.27);
	padding: 1rem;
	font-family: $font;
	color: $colorText;
}

.treatment-header {
	padding: 15px 10px 15px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.treatment-header h3 {
	padding: 0 0 0 20px;
	width: calc(100% * (9 / 12));
}

.treatment-header-button {
	margin: 0;

	button {
		margin: 0px 10px 0 0;
		width: 70px;
		font-size: 0.8rem;
	}
}

.info-block {
	padding: 0.5rem 1rem;
}

.treatment-body {
	min-height: 40vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	.state-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.list-ao,
	.initial-state,
	.second-state,
	.third-state {
		height: 200px;
		min-width: 150px;
		margin: 10px;
		padding: 5px;
		box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.1),
			0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px -1px rgba(0, 0, 0, 0.1);
		// border: 1px solid gray;
		// border-radius: 5px;
		h4 {
			text-align: center;
			padding: 0.5rem;
		}

		ul,
		li {
			margin: 0;
			padding: 0;
		}
		ul li {
			padding: 0.5rem 1rem;
			list-style: none;
		}
	}

	.initial-state-button,
	.second-state-button,
	.third-state-button {
		text-align: center;
		padding: 1rem 0;
	}
}

.ao-form {
	div {
		margin: 1rem 0;
	}

	text-align: center;
}

.history-item {
	margin: 15px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

	.item {
		width: $itemWidth;
		margin: 10px;
		padding: 5px;
		border: 1px solid rgba(112, 112, 112, 0.27);
		border-radius: 10px;
		overflow: hidden;

		ul {
			display: flex;
		}

		ul li {
			margin: 5px;
			list-style: none;
		}
	}
}
