<div class="main-block">
	<div class="treatment-header">
		<h3>Patient: {{ patient.firstname + ' ' + patient.lastname }}</h3>
		<div class="treatment-header-button">
			<button
				pButton
				type="button"
				label="Profile"
				(click)="onShowProfile()"
			></button>
			<button
				pButton
				type="button"
				label="Exit"
				[routerLink]="['/app/']"
			></button>
		</div>
	</div>
	<p-dialog header="Profile" [(visible)]="displayProfile" [modal]="'true'">
		Content
		<button pButton type="button" label="Edit"></button>
	</p-dialog>
	<div class="treatment-body">
		<div class="list-ao">
			<h4>Antyoxidants:</h4>
			<p-listbox
				[options]="antioxydants"
				[(ngModel)]="selectedAO"
			></p-listbox>
		</div>
		<div class="state-container">
			<div class="initial-state">
				<h4>Initial State</h4>
				<ul *ngIf="isInitSetted">
					<li>Date: {{ initialState.date }}</li>
					<li>TAA: {{ initialState.taa }}</li>
					<li>Lactate: {{ initiallactate }}</li>
					<li>Pyruvate: {{ initialpyruvate }}</li>
				</ul>
			</div>
			<div class="second-state">
				<h4>Second State</h4>
				<ul *ngIf="isSecondSetted">
					<li>Date: {{ secondState.date }}</li>
					<li>TAA: {{ secondState.taa }}</li>
					<li>Lactate: {{ secondState.lactate }}</li>
					<li>Pyruvate: {{ secondState.pyruvate }}</li>
				</ul>
			</div>
			<div class="third-state">
				<h4>Third State</h4>
				<ul *ngIf="isThirdSetted">
					<li>Date: {{ thirdState.date }}</li>
					<li>TAA: {{ thirdState.taa }}</li>
					<li>Lactate: {{ thirdState.lactate }}</li>
					<li>Pyruvate: {{ thirdState.pyruvate }}</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- <ol class="treatment-body">
		<li>
			<p>Determination of AO system initial state</p>
			<button
				pButton
				type="button"
				label="Set Initial"
				(click)="onSaveStateDialog('init')"
				[disabled]="isInitSetted"
			></button>
			<button
				pButton
				type="button"
				label="Reset"
				(click)="onResetState('init')"
				[disabled]="!isInitSetted"
			></button>
		</li>
		<li>
			<p>Antioxydant for current treatment</p>
				<button
					pButton
					type="button"
					label="Set 20min state"
					(click)="onSaveStateDialog('second')"
					[disabled]="isSecondSetted"
				></button>
				<button
					pButton
					type="button"
					label="Set 3day state"
					(click)="onSaveStateDialog('third')"
					[disabled]="isThirdSetted"
				></button>
			</div>
		</li>
	</ol> -->
	<p-dialog
		[(header)]="displayStateDialogHeader"
		[(visible)]="displayStateDialog"
		[modal]="'true'"
		(onHide)="onHideReset()"
	>
		<form
			[formGroup]="operationForm"
			(ngSubmit)="onSaveState(operationForm.value)"
		>
			<div>
				TAA:
				<input
					pInputText
					type="number"
					name="taa"
					formControlName="taa"
				/>
				mg\l
			</div>
			<div>
				Lactate:
				<input
					pInputText
					type="number"
					name="lactate"
					formControlName="lactate"
				/>
				mg\l
			</div>
			<div>
				Pyruvate:
				<input
					pInputText
					type="number"
					name="pyruvate"
					formControlName="pyruvate"
				/>
				mg\l
			</div>
			<button pButton type="submit" label="Save"></button>
		</form>
	</p-dialog>
	<p-accordion>
		<p-accordionTab header="History">
			<ng-template class="treatment-history" pTemplate="history">
				<div class="history-item" *ngFor="let item of history">
					<div class="item">
						<h5>{{ item.name || 'Initial' }}</h5>
						<ul>
							<li>Date: {{ item.date }}</li>
							<li>TAA: {{ item.taa }}</li>
							<li>Lactate: {{ item.lactate }}</li>
							<li>Pyruvate: {{ item.pyruvate }}</li>
						</ul>
					</div>
				</div>
			</ng-template>
		</p-accordionTab>
	</p-accordion>
</div>
