$itemWidth: 100%;

.main-block {
	margin: 90px 15px 0 165px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.27);
	padding: 1rem;
}

.treatment-header {
	padding: 15px 10px 15px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.treatment-header h3 {
	padding: 0 0 0 20px;
	width: calc(100% * (9 / 12));
}

.treatment-header-button {
	margin: 0;

	button {
		margin: 0px 10px 0 0;
		width: 70px;
		font-size: 0.8rem;
	}
}

.treatment-body {
	min-height: 40vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	.state-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.list-ao,
	.initial-state,
	.second-state,
	.third-state {
		height: 200px;
		margin: 10px;
		padding: 5px;
		border: 1px solid gray;
		border-radius: 5px;

		h4 {
			text-align: center;
			padding: 0.5rem;
		}

		ul,
		li {
			margin: 0;
			padding: 0;
		}
		ul li {
			list-style: none;
		}
	}
}

.treatment-body-ao {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.history-item {
	margin: 15px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

	.item {
		width: $itemWidth;
		margin: 10px;
		padding: 5px;
		border: 1px solid rgba(112, 112, 112, 0.27);
		border-radius: 10px;
		overflow: hidden;

		ul {
			display: flex;
		}

		ul li {
			margin: 5px;
			list-style: none;
		}
	}
}
