<div class="main-block">
	<div class="treatment-header">
		<h3>Patient: {{ patient.firstname + ' ' + patient.lastname }}</h3>
		<div class="treatment-header-button">
			<button
				pButton
				type="button"
				label="Profile"
				[disabled]="true"
				(click)="onShowProfile()"
			></button>
			<button
				pButton
				type="button"
				label="Exit"
				[routerLink]="['/app/home']"
			></button>
		</div>
	</div>
	<p-dialog header="Profile" [(visible)]="displayProfile" [modal]="'true'">
		Content
		<button pButton type="button" label="Edit"></button>
	</p-dialog>
	<div class="info-block">
		<p>Selected AO: {{ selectedAO || '-' }}</p>
		<p *ngIf="!isInitSetted">
			Please, determinate of AO system initial state. (Press "Set
			Initial")
		</p>
		<p *ngIf="isInitSetted && !isSecondSetted">
			Please, enter the data which was obtained 20 min after the 1-st
			administration.<br />
			(Press "Set Second")
		</p>
		<p *ngIf="isSecondSetted && !isThirdSetted">
			{{ selectedAO }} is recommended.<br />
			Attention! Control of effectivness is required! (Press "Set Third")
		</p>
		<p *ngIf="isThirdSetted">
			Congratulation! The treatment with {{ selectedAO }} antioxydant is
			effective.
		</p>
	</div>
	<div class="treatment-body">
		<div class="list-ao" *ngIf="!isThirdSetted">
			<h4>Antyoxidants:</h4>
			<p-listbox
				[options]="antioxydants"
				[(ngModel)]="selectedAO"
			></p-listbox>
		</div>
		<div class="state-container">
			<div class="initial-state">
				<div class="initial-state-info">
					<h4>Initial State</h4>
					<ul *ngIf="isInitSetted">
						<li>Date: {{ initialState.date.toLocaleString() }}</li>
						<li>TAA: {{ initialState.taa }}</li>
						<li>Lactate: {{ initialState.lactate }}</li>
						<li>Pyruvate: {{ initialState.pyruvate }}</li>
					</ul>
				</div>
				<div class="initial-state-button" *ngIf="!isInitSetted">
					<button
						pButton
						type="button"
						label="Set Initial"
						(click)="onSaveStateDialog('init')"
						[disabled]="isInitSetted"
					></button>
				</div>
			</div>
			<div class="second-state">
				<div class="second-state-info">
					<h4>Second State</h4>
					<ul *ngIf="isSecondSetted">
						<li>Date: {{ secondState.date.toLocaleString() }}</li>
						<li>TAA: {{ secondState.taa }}</li>
						<li>Lactate: {{ secondState.lactate }}</li>
						<li>Pyruvate: {{ secondState.pyruvate }}</li>
					</ul>
				</div>
				<div class="second-state-button" *ngIf="!isSecondSetted">
					<button
						pButton
						type="button"
						label="Set Second"
						(click)="onSaveStateDialog('second')"
						[disabled]="!isInitSetted || isSecondSetted"
					></button>
				</div>
			</div>
			<div class="third-state">
				<div class="third-state-info">
					<h4>Third State</h4>
					<ul *ngIf="isThirdSetted">
						<li>Date: {{ thirdState.date.toLocaleString() }}</li>
						<li>TAA: {{ thirdState.taa }}</li>
						<li>Lactate: {{ thirdState.lactate }}</li>
						<li>Pyruvate: {{ thirdState.pyruvate }}</li>
					</ul>
				</div>
				<div class="third-state-button" *ngIf="!isThirdSetted">
					<button
						pButton
						type="button"
						label="Set Third"
						(click)="onSaveStateDialog('third')"
						[disabled]="
							!isInitSetted || (!isSecondSetted || isThirdSetted)
						"
					></button>
				</div>
			</div>
		</div>
	</div>
	<p-dialog
		[(header)]="displayStateDialogHeader"
		[(visible)]="displayStateDialog"
		[modal]="'true'"
		(onHide)="onHideReset()"
	>
		<form
			class="ao-form"
			[formGroup]="operationForm"
			(ngSubmit)="onSaveState(operationForm.value)"
		>
			<div>
				<span class="ui-float-label">
					<input
						id="taa-input"
						type="number"
						pInputText
						formControlName="taa"
					/>
					<label for="taa-input">TAA (mg\l)</label>
				</span>
			</div>
			<div>
				<span class="ui-float-label">
					<input
						id="lactate-input"
						type="number"
						pInputText
						formControlName="lactate"
					/>
					<label for="lactate-input">Lactate (mg\l)</label>
				</span>
			</div>
			<div>
				<span class="ui-float-label">
					<input
						id="pyruvate-input"
						type="number"
						pInputText
						formControlName="pyruvate"
					/>
					<label for="pyruvate-input">Pyruvate (mg\l)</label>
				</span>
			</div>
			<button pButton type="submit" label="Save"></button>
		</form>
	</p-dialog>
	<p-accordion>
		<p-accordionTab header="History">
			<ng-template class="treatment-history" pTemplate="history">
				<div class="history-item" *ngFor="let item of history">
					<div class="item">
						<h5>{{ item.name || 'Initial' }}</h5>
						<ul>
							<li>Date: {{ item.date.toLocaleString() }}</li>
							<li>TAA: {{ item.taa }}</li>
							<li>Lactate: {{ item.lactate }}</li>
							<li>Pyruvate: {{ item.pyruvate }}</li>
						</ul>
					</div>
				</div>
			</ng-template>
		</p-accordionTab>
	</p-accordion>
</div>
