/* You can add global styles to this file, and also import other style files */
$mainColor: #047beb;
$sidebarBackground: #FEFEFE;
$headerText: #FEFEFE;

$font: Helvetica;

body, html {
	margin: 0;
	height: 100%;
}