/* You can add global styles to this file, and also import other style files */
$mainColor: #2ba4fc;
$secondaryColor: #fefefe;
$sidebarBackground: #fefefe;
$sidebarFontColor: #fefefe;
$sidebarFontSize: 1.4rem;
$headerFontColor: #fefefe;
$iconSize: 1.2em;
$font: Helvetica;
$fontSize: 1.1em;

body,
html {
	margin: 0;
	height: 100%;
}
