/* You can add global styles to this file, and also import other style files */
$mainColor: #047beb;
$sidebarBackground: #FEFEFE;
$sidebarIconColor: #a4a4a4;
$headerFontColor: #FEFEFE;
$iconSize: 1.5em;
$font: Helvetica;

body, html {
	margin: 0;
	height: 100%;
}