<div class="ui-g main-block ui-lg-10 ui-lg-offset-2 ui-md-9 ui-md-offset-3">
	<p-table
		[columns]="cols"
		[value]="patients"
		selectionMode="single"
		dataKey="id"
		(onRowSelect)="onRowSelect($event)"
		sortField="id"
		[scrollable]="true"
		scrollHeight="50vh"
	>
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th *ngFor="let col of columns" [pSortableColumn]="col.field">
					{{ col.header }}
					<p-sortIcon
						[field]="col.field"
						ariaLabel="Activate to sort"
						ariaLabelDesc="Activate to sort in descending order"
						ariaLabelAsc="Activate to sort in ascending order"
					></p-sortIcon>
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData let-columns="columns">
			<tr [pSelectableRow]="rowData" style="text-align: center;">
				<td *ngFor="let col of columns">
					{{ rowData[col.field] }}
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>
