<div class="main-block">
	<h3>Patient</h3>
	<form
		[formGroup]="patientForm"
		class="patient-form"
		(ngSubmit)="onSubmit(patientForm.value)"
	>
		<span class="ui-float-label">
			<input
				id="fname"
				type="text"
				pInputText
				formControlName="firstname"
			/>
			<label for="fname">First name</label>
		</span>
		<span class="ui-float-label">
			<input
				id="lname"
				type="text"
				pInputText
				formControlName="lastname"
			/>
			<label for="lname">Last name</label>
		</span>
		<span class="ui-float-label">
			<input id="age" type="number" pInputText formControlName="age" />
			<label for="age">Age</label>
		</span>
		<div class="radiobuttons ui-g">
			<p class="ui-g-2">Sex:</p>
			<div class="ui-g-5">
				<p-radioButton
					name="sex"
					value="m"
					label="Male"
					formControlName="sex"
					labelStyleClass="sexLabel"
				></p-radioButton>
			</div>
			<div class="ui-g-5">
				<p-radioButton
					name="sex"
					value="f"
					label="Female"
					formControlName="sex"
					labelStyleClass="sexLabel"
				></p-radioButton>
			</div>
		</div>
		<span class="ui-float-label">
			<input id="case" type="number" pInputText formControlName="case" />
			<label for="case">Case history #</label>
		</span>
		<span class="ui-float-label">
			<input
				id="department"
				type="text"
				pInputText
				formControlName="department"
			/>
			<label for="department">Department of</label>
		</span>
		<p-calendar
			formControlName="date"
			[style]="{ width: '100%', 'margin-top': '25px' }"
			[inputStyle]="{ width: '100%' }"
			[placeholder]="'Date'"
		></p-calendar>
		<button
			*ngIf="!isLoading"
			pButton
			type="reset"
			label="Cancel"
			[disabled]="false"
			class="ui-button-secondary"
			[routerLink]="['/app/home/']"
		></button>
		<button
			*ngIf="!isLoading"
			pButton
			type="submit"
			label="Submit"
			[disabled]="!patientForm.valid"
		></button>
		<div *ngIf="isLoading">
			<p-progressSpinner></p-progressSpinner>
		</div>
	</form>
</div>
