@import "../../../styles.scss";

.sidebar {
	background-color: $sidebarBackground;
	position: fixed;
	top: 80px;
	left: 0;
	height: 100%;
	padding: 1rem;
	// box-shadow: -1px 1px 3px rgba(151, 155, 174, 0.4), 1px 1px 3px rgba(151, 155, 174, 0.4);
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-add, .sidebar-list {
	width: 130px;
	padding: 1rem;
	margin: 10px auto;
	color: $sidebarFontColor;
	font-size: $sidebarFontSize;
	font-family: $font;
	text-align: center;
	border-radius: 5px;
	border: 1px solid transparent;
	background-color: $mainColor;
	transition: 0.3s;
	&:hover {
		background-color: $secondaryColor;
		color: $mainColor;
		border: 2px solid $mainColor;
	}
}